html, body {
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  @media (max-width: 790px) {
    margin: 0;
  }
  margin: 0 200px;
  flex: 1 0 auto;
  
  .content-header {
    background-color: #f5e8e882;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
  }
}
.footer {
  height: 50px;
  margin-top: 20px;
  padding: 10px;
  flex-shrink: 0;
  text-align: center;
  background-color: #d9edf7;
  
  img {
    width: 40px;
    padding-right: 5px;
  }
  
  span {
    vertical-align: middle;
  }
}


.flex {
  display: flex;
}

.block {
  margin-left: 10px;
}

.episodes-container {
  margin-top: 50px;
}

.container {
  @media (max-width: 790px) {
    flex-direction: column;
  }
}

.heading {
  font-weight: 700;
}
